/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package newpackage;

import java.util.Scanner;

/**
 *
 * @author Hp
 */
public class DwiRiyono {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {

        Scanner input=new Scanner(System.in);
        String nama, nik, jabatan, tgl;
        
        System.out.print("Masukkan Nama Anda : ");
        nama = input.nextLine();
        
        System.out.print("Masukkan Nik Anda  : ");
        nik = input.nextLine();
       
        System.out.print("Masukkan jabatan     : ");
        jabatan = input.nextLine();
        
        System.out.println("Masukan Tgl Lahir     : ");
        tgl  = input.nextLine();
       //output
               System.out.println("Nama         :"+nama);
               System.out.println("Nik          :"+nik);
               System.out.println("Jabatan       :"+jabatan);
               System.out.println("Tgl Lahir    :"+tgl);
   
   
        
    }
    
} 
